<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSON</title>
</head>
<body>
    <h1>JSON format the spreadsheet that you uploaded</h1>
    <div th:utext="${studentsJson}"></div> <!-- Display JSON data -->
    <form action="/search" method="post">
        <select name="searchType">
            <option value="name">Name</option>
            <option value="admissionNumber">Admission Number</option>
        </select>
        <input type="text" name="keyword" required>
        <button type="submit">Search</button>
    </form>
</body>
</html>